* {
  font-family: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth;
}
header {
  position: relative;
  height: 525px;
  text-align: center;
  overflow: hidden;
}

main {
  margin: 0 auto;
  max-width: 1024px;
}

#video-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a {
  text-decoration: none;
}

h1 {
  font-size: 61px;

  font-weight: 500;
}

h3 {
  font-size: 43px;
  margin: 12px 0;
  font-weight: 500;
}

h5 {
  font-size: 32px;
  font-weight: 500;
}

nav,
footer {
  display: flex;
}

h6 {
  font-size: 32px;
}

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
  padding-left: 24px;
}

table {
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  background-color: rgba(225, 225, 225, 1);
}

td {
  border-style: solid;
  border-color: rgba(179, 179, 179, 1);
  border-width: 1px;
  padding: 4px 6px;
}

th {
  border-style: solid;
  border-color: rgba(179, 179, 179, 1);
  border-width: 1px;
  padding: 4px 6px;
}

.list-title {
  line-height: 1.5em;
  font-size: 16px;
  font-weight: bold;
}

.center {
  margin: 0 auto;
}

.column-2 {
  display: flex;
  gap: 0px 40px;
  justify-content: space-between;
}
.column-2 > * {
  flex: 1; /* 子要素に均等な幅を設定 */
  max-width: 50%; /* 幅が50％を超えないように設定 */
}
.my-midium {
  margin: 24px 0px;
}
.evenly_space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-title {
  color: white;
  padding: 24px 0px;
}

.header-reservation-btn {
  color: white;
  border: 1px solid white;
  padding: 4px 48px;
  margin: 39px 0px;
  display: inline-block;
  transition: 0.2s;
}

.header-reservation-btn:hover {
  color: black;
  background-color: white;
}

.reservation-btn {
  text-align: center;
}
.reservation-btn a,
.reservation-btn button {
  padding: 4px 53px;
  background-color: #8b0000;
  color: white;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0 auto;
}
.ready-section {
  padding: 24px;
}
/*タブを横並びに*/
.tab-label {
  display: block;
  float: left;
}
/*ラジオボタンを全て非表示に*/
.tab-input[name="tab-radio"],
.tab-input[name="tab-radio-2"],
.tab-input[name="tab-radio-3"] {
  display: none;
}
.tab-label {
  color: #525252 !important;
  cursor: pointer !important;
  font-size: 16px !important;
  padding: 10px 20px !important;
  transition: 0.3s;
  border-bottom: 3px solid #d9d9d9;
}
.tab-label:hover {
  border-bottom: 1px solid black;
  border-bottom-width: 4px;
}
.tab-input:checked + h2 > .tab-label {
  color: #000 !important;
  border-bottom: 1px solid black;
  border-bottom-width: 4px;
  transition: 0.3s;
}
.tab-panel {
  clear: both;
  display: none;
  padding: 0px 24px;
  padding-top: 2rem;
}
#tab-a:checked ~ .panel-a,
#tab-b:checked ~ .panel-b,
#tab-c:checked ~ .panel-c,
#tab-d:checked ~ .panel-d,
#tab-e:checked ~ .panel-e,
#tab-f:checked ~ .panel-f,
#tab-g:checked ~ .panel-g,
#tab-h:checked ~ .panel-h,
#tab-i:checked ~ .panel-i,
#tab-j:checked ~ .panel-j,
#tab-k:checked ~ .panel-k,
#tab-l:checked ~ .panel-l,
#tab-m:checked ~ .panel-m,
#tab-n:checked ~ .panel-n {
  display: block;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.panel-inner {
  margin: 24px 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq {
  padding: 32px 0px;
}

.faq input {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  margin-top: 52px;
}

.questions h6 span {
  padding: 32px;
  background-color: rgba(64, 64, 64, 0.25);
  margin: 24px 0px;
}

.questions:hover h6 span {
  background-color: gray;
}

input[type="checkbox"]:checked ~ .answer {
  max-height: 300px;
}

.map {
  margin: 0 auto;
}

.ready-section p {
  padding-left: 24px;
  margin-bottom: 12px;
}
.ready-section span {
  font-weight: bold;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.info-item {
  font-size: 24px;
}

.info-item-wrapper {
  width: 50%;
}

.warning {
  color: #8b0000;
}

.text-center {
  text-align: center;
}

form {
  width: 770px;
  margin: 0 auto;
}

.form-item {
  display: flex;
  justify-content: space-evenly;
  margin: 12px 0px;
}
.form-item label {
  width: 30%;
}

.form-item input,
.form-item textarea {
  width: 50%;
}
.simulation-wrapper {
  text-align: center;
  border-radius: 1rem;
  padding: 12px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
#simulation,
#simulation_jp {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

#simulation label {
  width: 300px;
  display: inline-block;
}
#simulation select {
  border: none;
  width: 300px;
  text-align: right;
  padding-right: 12px;
}

#simulation option {
  padding-right: 12px;
}
#simulation input {
  border: none;
  width: 300px;
  text-align: right;
  padding-right: 12px;
}

#simulation_jp label {
  width: 300px;
  display: inline-block;
}
#simulation_jp select {
  border: none;
  width: 300px;
  text-align: right;
  padding-right: 12px;
}

#simulation_jp option {
  padding-right: 12px;
}
#simulation_jp input {
  border: none;
  width: 300px;
  text-align: right;
  padding-right: 12px;
}

#simulation_price {
  text-align: center;
  font-size: 1.6rem;
}

#simulation_msg {
  text-align: center;
  font-size: 1.6rem;
  color: #ba1e40;
}
.simulation-item {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}
.passengers-wrapper {
  display: flex;
  width: 50%;
}
footer {
  margin-top: 26px;
}
.swiper-button-next,
.swiper-button-prev {
  width: calc(var(--swiper-navigation-size) / 17 * 27);
}
@media screen and (max-width: 600px) {
  nav img,
  footer img {
    width: 50%;
    object-fit: contain;
  }
  header {
    height: 100vh;
  }
  header h1 {
    font-size: 42px;
  }

  #video {
    object-fit: cover;
  }

  main {
    padding: 0 12px;
  }
  .column-2 {
    flex-direction: column;
    align-items: center;
  }
  .column-2 > * {
    flex: 1; /* 子要素に均等な幅を設定 */
    max-width: 100%; /* 幅が50％を超えないように設定 */
  }
  .swiper {
    width: 400px;
  }
  .passengers-wrapper {
    width: 100%;
  }

  .info-item-wrapper {
    width: 90%;
  }
  .label-wrapper {
    display: flex;
    overflow-x: auto;
    width: 100%;
  }
  .tab-label {
    height: 115px;
    margin-bottom: 12px;
  }
  form {
    width: 70%;
    margin: 0 auto;
  }
  .form-item {
    flex-direction: column;
    width: 270px;
    margin: 12px auto;
  }

  .form-item input,
  .form-item textarea {
    width: 100%;
  }
}
